*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: rgb(3, 3, 36);
    color: white;
    height: 5rem;
    line-height: 5rem;
}
.choice{
    height: 200px;
    width: 200px;
}
.choice:hover{
   opacity: 0.5;
   cursor:pointer;
}


img{
    height:150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items:center; 
    font-size: 3rem;
    margin-top:2rem;
    gap: 5rem;
}
#user-score , #comp-score{
    font-size:5rem;
}
.msg-container{
     margin-top: 5rem;
}
#msg{
    background-color: rgb(6, 19, 19);
    color: aliceblue;
    font-size: 2rem;
    display: inline;
    padding: 2rem;
    border-radius: 1rem;

}